/* .test_css{
    color: rebeccapurple;
} */

*{
    padding: 0px;
    margin: 0px;
}

:root{
    --main_teil: #069494;
    --dark_teil: #176161;
    --light_teil: #13d4d4;
    --main_gold: #efbf04;
    --dark_gold:#BF9903;
}

/**/

/* HEADER */

header{
    width: 100%;
    height: 10vh;
    background-color: var(--main_teil);
    color: var(--main_gold);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header a {
    text-decoration: none;
    color: inherit;
    margin-left: 20px;
    padding: 10px;
}

header a:hover {
    text-decoration: none;
    color: var(--dark_gold);
    border: 2px solid var(--dark_gold);
    padding: 10px;
}

.header_right{
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

/* HEADER END */

/* MAIN SECTION */

section{
    width: 100%;
    height: 80vh;
    background-color: var(--main_gold);
    color: var(--dark_teil);
    
}

#content{
    
    width: 100%;
    height: 100%;
}

.btn{
    width: 100px;
    height: 50px;
    background-color: var(--dark_teil);
    border: 2px solid var(--main_teil);
    border-radius: 10px;
    color: var(--main_gold);
    margin-top: 20px;
}

.btn:hover{
    border: 2px solid var(--light_teil);
    color: var(--dark_gold);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox
input[type=number] {
  -moz-appearance: textfield;
} */


/* MAIN SECTION */

.index_container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
   

}

.index_header{
    font-size: 60px;
    color: var(--dark_teil);
    margin-top: 20px;
}

.index_txt{
    color: var(--dark_teil);
    margin-top: 10px;
    font-size: 48px;
}

/* FOOTER */

footer{
    width: 100%;
    height: 10vh;
    background-color: var(--main_teil);
    color: var(--main_gold);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}



/* FOOTER END */
