<div class="four_counters_container">

<div class="four_row_flex">

    <div class="four_gap">
        <h1>Timer</h1>
        <p>Please provide time</p>
        
        
            <input type="number" class="one_input" placeholder="Min" id="min_in41"/> 
            <input type="number" class="one_input" placeholder="Sec" id="sec_in41"/> 
        
            <br/>
        
            <button class="btn roboto-mono-regular" id="four_btn1">Start</button>
            <button class="btn roboto-mono-regular" id="four_btn_reset1">Pause</button>
        
        </div>

        <div  class="four_gap">
            <h1>Timer</h1>
            <p>Please provide time</p>
            
            
                <input type="number" class="one_input" placeholder="Min" id="min_in42"/> 
                <input type="number" class="one_input" placeholder="Sec" id="sec_in42"/> 
            
                <br/>
            
                <button class="btn roboto-mono-regular" id="four_btn2">Start</button>
                <button class="btn roboto-mono-regular" id="four_btn_reset2">Pause</button>
            
            </div>

</div>
<!-- SECOND ELEMENT -->
<div class="four_row_flex">

    <div  class="four_gap">
        <h1>Timer</h1>
        <p>Please provide time</p>
        
        
            <input type="number" class="one_input" placeholder="Min" id="min_in43"/> 
            <input type="number" class="one_input" placeholder="Sec" id="sec_in43"/> 
        
            <br/>
        
            <button class="btn roboto-mono-regular" id="four_btn3">Start</button>
            <button class="btn roboto-mono-regular" id="four_btn_reset3">Pause</button>
        
        </div>

        <div  class="four_gap">
            <h1>Timer</h1>
            <p>Please provide time</p>
            
            
                <input type="number" class="one_input" placeholder="Min" id="min_in44"/> 
                <input type="number" class="one_input" placeholder="Sec" id="sec_in44"/> 
            
                <br/>
            
                <button class="btn roboto-mono-regular" id="four_btn4">Start</button>
                <button class="btn roboto-mono-regular" id="four_btn_reset4">Pause</button>
            
            </div>

</div>



    
    </div>