
<div class="index_container">
    <h1 class="qwitcher-grypen-bold index_header"> Welcome to the counter app</h1>
    <p class="qwitcher-grypen-bold index_txt">Whether you need to keep track of one task or manage multiple at once, our app is designed to fit your needs. You can:</p>
    <ol class="qwitcher-grypen-bold index_txt">
        <li><strong>Track multiple counters</strong> - Choose between 1, 2, or 4 counters to monitor different activities simultaneously.</li>
        <li><strong>Use a Stopwatch</strong> - Keep precise time with our easy-to-use stopwatch feature for any task or event.</li>
    </ol>
    <pre class="qwitcher-grypen-bold index_txt">The app is built for simplicity and ease of use, with a minimalist interface so you can focus on what matters most. 
     Start counting or timing today—just pick the view that works best for you!</pre>
</div>

