<div class="one_counter_container">

    <div>
    <h1>Stopwatch</h1>
    <p>Click Start to begin</p>
    
        <input disabled class="one_input" placeholder="00" id="swm1"/> 
        <input disabled class="one_input" placeholder="00" id="sws1"/> 
        <input disabled class="one_input" placeholder="00" id="swt1"/> 
    
        <br/>
    
        <button class="btn roboto-mono-regular" id="one_btn_stopwatch">Start</button>
        <button class="btn roboto-mono-regular" id="one_btn_stopwatch_stop">Stop</button>
        <button class="btn roboto-mono-regular" id="one_btn_reset_stopwatch">Reset</button>
    
    </div>
    
    
    
    </div>