

<div class="two_counters_container">

    <div>
    <h1>Timer</h1>
    <p id="two1_c_title">Please provide time</p>
    
    
        <input type="number" class="one_input" placeholder="Min" id="min_in21"/> 
        <input type="number" class="one_input" placeholder="Sec" id="sec_in21"/> 
    
        <br/>
    
        <button class="btn roboto-mono-regular" id="two_btn">Start</button>
        <button class="btn roboto-mono-regular" id="two_btn_reset">Pause</button>
    
    </div>


    <div>
        <h1>Timer</h1>
        <p id="two2_c_title">Please provide time</p>
        
        
            <input type="number" class="one_input" placeholder="Min" id="min_in22"/> 
            <input type="number" class="one_input" placeholder="Sec" id="sec_in22"/> 
        
            <br/>
        
            <button class="btn roboto-mono-regular" id="two_btn2">Start</button>
            <button class="btn roboto-mono-regular" id="two_btn_reset2">Pause</button>
        
        </div>
    
    
    
    </div>